* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.watch {
    background-color: gray;
    text-align: right;
   
}

.watch img{
    animation: watch 1s ease  infinite  alternate;
}
@keyframes watch{
from{
    transform: scale(1);

}
to{
transform: scale(1.08);
}

}

